
.DS_Store

codes/SecBox-MacCli/SecBox-MacCli.xcodeproj/project.xcworkspace/xcuserdata/zimmer.xcuserdatad/UserInterfaceState.xcuserstate

codes/SecBox-MacCli/SecBox-MacCli.xcodeproj/xcuserdata/zimmer.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

codes/SecBox-MacCli/SecBox-MacCli.xcodeproj/xcuserdata/zimmer.xcuserdatad/xcschemes/SecBox-MacCli.xcscheme

codes/SecBox-MacCli/SecBox-MacCli.xcodeproj/xcuserdata/zimmer.xcuserdatad/xcschemes/xcschememanagement.plist

codes/SecBox-MacCli/SecBox-MacCli.xcodeproj/project.xcworkspace/xcuserdata/zimmer.xcuserdatad/WorkspaceSettings.xcsettings

codes/SecBox-iOS/SecBox-iOS.xcodeproj/project.xcworkspace/xcuserdata/zimmer.xcuserdatad/UserInterfaceState.xcuserstate

codes/SecBox-iOS/SecBox-iOS.xcodeproj/xcuserdata/zimmer.xcuserdatad/xcschemes/SecBox-iOS.xcscheme

codes/SecBox-iOS/SecBox-iOS.xcodeproj/xcuserdata/zimmer.xcuserdatad/xcschemes/xcschememanagement.plist
